.mySkillsMain{
    margin: 0 50px 0 300px;
    width: 72vw;
    height: 100vh;
}
.mySkillsFirstDivHeading{
    padding: 20px 0;
    text-align: center;
    color: blue;
}


.mySkillsSecondDiv{
    padding-left: 20px;
    display: flex;
    height: 220px;
    gap: 50px;
    background-color: aquamarine;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /* box-shadow: 25px 15px 8px rgb(192, 240, 242); */
}
.mySkillsThirdDiv{
    padding-left: 20px;
    display: flex;
    height: 220px;
    gap: 50px;
    background-color: aquamarine;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    /* box-shadow: 25px 15px 8px rgb(192, 240, 242); */
}


.skillsImg{
    width: 80px;
    height: 80px;
    margin-top: 25px;
    margin-left: 25px;
    animation: skillsAnime 12s linear 2s infinite;
}

.mySkillsSecondDivH2{
    text-align: center;
}



.skillsAnimationDiv{
    margin-top: 30px;
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 50%;
}

@keyframes skillsAnime {
    0%{
        transform: rotate(0deg);
    }
    75%,100%{
        transform: rotate(360deg);
    }
}