.mySkillsMain{
    margin: 0 50px 0 300px;
}
.mySkillsFirstDivHeading{
    padding: 20px 0;
    text-align: center;
    color: blue;
}


.mySkillsSecondDiv{
    display: flex;
    height: 250px;
}
.mySkillsThirdDiv{
    display: flex;
    height: 250px;
}


.skillsImg{
    width: 100px;
    height: 150px;
}



