.servicesMain{
    margin: 0 50px 0 300px;
    background-color: rgb(227, 249, 255);
}
.servicesH1{
    padding-top: 20px;
    text-align: center;
}
.servicesP{
    text-align: center;
}

.servicesSubDiv{
    width: 400px;
    height: 400px;
    background-color: rgb(102, 176, 236);
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 10px;
}
.servicesSubDivImgDiv1{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    margin-left: 120px;
    background-color: aliceblue;
    border-radius: 50%;
}
.servicesSubDivImg{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.servicesSubDivDiv2{

}
.servicesSubDivDiv2H2{
    text-align: center;
}
.servicesSubDivDiv2P{
    text-align:justify;
    padding: 10px;
}