/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .contactPage {
    margin: 50px 50px 20px 150px;
    background-color: aliceblue;
    display: flex;
    height: 560px;
    border-radius: 40px;
    width: 900px;
  }

  .contactDetails1 {
    background-color: aquamarine;
    margin: 20px;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails1SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails1SubDivHeading {
    color: blue;
  }

  .logoDimensions {
    width: 40px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 20px;
  }

  .contactDetails1SubDiv3 {
    margin: 20px 50px;
    display: flex;
    gap: 40px;
  }
  .contactDetails2 {
    background-color: aquamarine;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails2SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails2SubDivHeading {
    color: blue;
  }

  .contactDetailsSpan {
    font-weight: 900;
  }

  .contactDetails2SubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 20px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 140px;
    height: 30px;
    font-size: larger;
    font-weight: 900;
    background-color: aqua;
    border-radius: 10px;
  }
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .contactPage {
    margin: 0 50px 0 300px;
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    border-radius: 40px;
    width: 72vw;
  }

  .contactDetails1 {
    background-color: aquamarine;
    margin: 20px;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails1SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails1SubDivHeading {
    color: blue;
  }

  .logoDimensions {
    width: 40px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 20px;
  }

  .contactDetails1SubDiv3 {
    margin: 20px 50px;
    display: flex;
    gap: 40px;
  }

  .contactDetails2 {
    background-color: aquamarine;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails2SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails2SubDivHeading {
    color: blue;
  }

  .contactDetailsSpan {
    font-weight: 900;
  }

  .contactDetails2SubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 20px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 140px;
    height: 30px;
    font-size: larger;
    font-weight: 900;
    background-color: aqua;
    border-radius: 10px;
  }
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  .contactPage {
    margin: 25px 50px 25px 300px;
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    border-radius: 40px;
    width: 72vw;
  }

  .contactDetails1 {
    background-color: aquamarine;
    margin: 20px;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails1SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails1SubDivHeading {
    color: blue;
  }

  .logoDimensions {
    width: 40px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 20px;
  }

  .contactDetails1SubDiv3 {
    margin: 20px 50px;
    display: flex;
    gap: 40px;
  }

  .contactDetails2 {
    background-color: aquamarine;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails2SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails2SubDivHeading {
    color: blue;
  }

  .contactDetailsSpan {
    font-weight: 900;
  }

  .contactDetails2SubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 20px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 140px;
    height: 30px;
    font-size: larger;
    font-weight: 900;
    background-color: aqua;
    border-radius: 10px;
  }
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  .contactPage {
    margin: 0 50px 0 300px;
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    border-radius: 40px;
    width: 72vw;
  }

  .contactDetails1 {
    background-color: aquamarine;
    margin: 20px;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails1SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails1SubDivHeading {
    color: blue;
  }

  .logoDimensions {
    width: 40px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 20px;
  }

  .contactDetails1SubDiv3 {
    margin: 20px 50px;
    display: flex;
    gap: 40px;
  }

  .contactDetails2 {
    background-color: aquamarine;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    width: 450px;
  }

  .contactDetails2SubDiv {
    padding: 20px 0;
    text-align: center;
  }

  .contactDetails2SubDivHeading {
    color: blue;
  }

  .contactDetailsSpan {
    font-weight: 900;
  }

  .contactDetails2SubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 20px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 10px;
    width: 185px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 140px;
    height: 30px;
    font-size: larger;
    font-weight: 900;
    background-color: aqua;
    border-radius: 10px;
  }
}
