/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: rgb(234, 21, 77);
    padding-top: 100px;
    padding-left: 10px;
    font-size: 22px;
    animation: chanduAnimation 2s ease-in-out 2s infinite;
  }
  .developer {
    padding-left: 10px;
    padding-bottom: 100px;
    color: rgb(99, 140, 229);
    font-size: 16px;
    animation: developerAnimation 2s ease-in-out 2s infinite;
  }
  @keyframes chanduAnimation {
    0%{
      transform: translateY(-20px);
      color: green;
    }
    25%{
      transform: translateY(0px);
      color: blue;
    }
    50%{
      transform: translateY(0px);
      color: darkcyan;
    }
    75%{
      transform: translateY(0px);
      color: magenta;
    }
    100%{
      transform: translateY(0px);
      color: red;
      display: none;
    }
  }
  @keyframes developerAnimation {
    0%{
      transform: translateY(-20px);
      color: red;
    }
    25%{
      transform: translateY(0px);
      color: magenta;
    }
    50%{
      transform: translateY(0px);
      color: aqua;
    }
    75%{
      transform: translateY(0px);
      color: blue;
    }
    100%{
      transform: translateY(0px);
      color: green;
      display: none;
    }
  }
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    height: 500px;
    width: 1240px;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 40px;
  }
  .developer {
    padding-left: 350px;
    font-size: 30px;
    color: rgb(99, 140, 229);
  }
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    height: 100vh;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 50px;
  }
  .developer {
    padding-left: 350px;
    font-size: 30px;
    color: rgb(99, 140, 229);
  }
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    height: 100vh;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 40px;
  }
  .developer {
    padding-left: 350px;
  }
}
