/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: rgb(234, 21, 77);
    padding-top: 160px;
    padding-left: 10px;
    font-size: 22px;
  }
  .developer {
    padding-left: 10px;
    color: rgb(99, 140, 229);
    font-size: 16px;
  }
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    height: 500px;
    width: 1240px;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 40px;
  }
  .developer {
    padding-left: 350px;
    font-size: 30px;
    color: rgb(99, 140, 229);
  }
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    height: 100vh;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 50px;
  }
  .developer {
    padding-left: 350px;
    font-size: 30px;
    color: rgb(99, 140, 229);
  }
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .welcome {
    height: 100vh;
    background-size: cover;
    background-image: url("../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp");
    background-repeat: no-repeat;
  }
  .chandu {
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 40px;
  }
  .developer {
    padding-left: 350px;
  }
}
