*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.welcome{
    height: 100vh;
    background-size: cover;
    background-image: url('../../Images/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.webp');
    background-repeat: no-repeat;
}
.chandu{
    color: aqua;
    padding-top: 200px;
    padding-left: 350px;
    font-size: 40px;
}
.developer{
    padding-left: 350px;
}
