.resumeMain{
    margin: 0 50px 0 300px;
    width: 70vw;
    height: 100vh;
    background-color: rgb(195, 252, 233);
    border-radius: 40px;
}
.resumeMain1{
    padding-top: 20px;
}

.resumeMain1Heading{
    color: blue;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.resumeMain1Para{
    text-align: justify;
    color: rgb(91, 145, 246);
    padding: 0 40px 20px 40px;
}
.resumeMain2{
    padding: 0 20px 20px 20px;
}
.resumeMain2Heading{
    color: blue;
    padding-bottom: 10px;
}
.education{
    display: flex;
    gap: 200px;
    margin-bottom: 20px;
}

.btechDiv{
    display: flex;
    gap: 20px;
}

.educationSubDiv{
    width: 100px;
    height: 30px;
    background-color: rgb(241, 250, 250);
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    border-radius: 10px;
    color: rgb(0, 229, 172);
}

.educationBranch{
    font-weight: 900;
    font-style: italic;
    padding: 5px 0 5px 5px;
    color: rgb(0, 204, 255);
}

