/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .footerDiv {
    width: 1200px;
    height: 55px;
    background-color: rgb(154, 214, 216);
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .footerDiv {
    /* width: 100%; */
    height: 55px;
    background-color: rgb(154, 214, 216);
    padding-left: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  .footerDiv {
    /* width: 100%; */
    height: 55px;
    background-color: rgb(154, 214, 216);
    padding-left: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  .footerDiv {
    /* width: 100%; */
    height: 55px;
    background-color: rgb(154, 214, 216);
    padding-left: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
}
