/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .footerDiv {
    width: 100%;
    height: 45px;
    background-color: rgb(154, 214, 216);
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
    font-size: 12px;
  }
  .footerP2 {
    padding-bottom: 10px;
    font-size: 12px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
    animation: footerAnimation infinite ease-in-out 6s;
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
  @keyframes footerAnimation {
    0%{
      color: aqua;
    }
    20%{
      color: red;
    }
    40%{
      color: blue;
    }
    60%{
      color: blueviolet;
    }
    80%{
      color: greenyellow;
    }
    100%{
      color: yellow;
    }
  }
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .footerDiv {
    width: 100%;
    height: 55px;
    background-color: rgb(154, 214, 216);
    padding-left: 220px;
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
    animation: footerAnimation infinite ease-in-out 6s;
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
  @keyframes footerAnimation {
    0%{
      color: aqua;
    }
    20%{
      color: red;
    }
    40%{
      color: blue;
    }
    60%{
      color: blueviolet;
    }
    80%{
      color: greenyellow;
    }
    100%{
      color: yellow;
    }
  }
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  .footerDiv {
    /* width: 100%; */
    height: 55px;
    background-color: rgb(154, 214, 216);
    padding-left: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
    animation: footerAnimation infinite ease-in-out 6s;
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
  @keyframes footerAnimation {
    0%{
      color: aqua;
    }
    20%{
      color: red;
    }
    40%{
      color: blue;
    }
    60%{
      color: blueviolet;
    }
    80%{
      color: greenyellow;
    }
    100%{
      color: yellow;
    }
  }
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  .footerDiv {
    /* width: 100%; */
    height: 55px;
    background-color: rgb(154, 214, 216);
    padding-left: 200px;
    text-align: center;
    font-weight: bolder;
  }
  .footerP1 {
    padding-top: 10px;
  }
  .footerP2 {
    padding-bottom: 10px;
  }
  .footerP2Span {
    color: rgb(172, 111, 20);
    animation: footerAnimation infinite ease-in-out 6s;
  }
  .footerP2Span:hover {
    color: rgb(55, 162, 237);
  }
  @keyframes footerAnimation {
    0%{
      color: aqua;
    }
    20%{
      color: red;
    }
    40%{
      color: blue;
    }
    60%{
      color: blueviolet;
    }
    80%{
      color: greenyellow;
    }
    100%{
      color: yellow;
    }
  }
}
